#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-size: 1.5em;
  color: #82C3BF;
}

hr {
  width: 50%;
}

.container {
  align-items: center;
  border: solid 1px rgb(151, 151, 151);
  padding: 1.5em;
  width: 25%;
  border-radius: 10px;
}
