.container-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.borda {
    border: solid 2px black;
    padding: 1em;
    border-radius: 10px;;
}

a {
    font-style: none;
}